browser-use
playwright
langchain-google-genai
langchain-openai
langchain-cerebras
pandas
python-dotenv
jinja2
feedparser
fastapi
uvicorn
python-multipart
websockets
pytest
pytest-asyncio
pypdf
pydantic
pydantic-settings
python-multipart
uv
pytz