browser-use
playwright
langchain-google-genai
langchain-openai
langchain-cerebras
pandas
python-dotenv
jinja2
feedparser
fastapi
uvicorn
websockets
pytest
pytest-asyncio
pypdf
pydantic[email]
pydantic-settings
python-multipart
uv
pytz
langchain-mistralai
mistralai
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]