@import "tailwindcss";

@layer base {
  :root {
    --font-size: 16px;
    --background: #e8e2db;
    --foreground: #0c2c55;
    --card: #fff;
    --card-foreground: #0c2c55;
    --popover: #fff;
    --popover-foreground: #0c2c55;
    --primary: #0c2c55;
    --primary-foreground: #e8e2db;
    --secondary: #296374;
    --secondary-foreground: #e8e2db;
    --muted: #629fad;
    --muted-foreground: #0c2c55;
    --accent: #629fad;
    --accent-foreground: #0c2c55;
    --destructive: #d4183d;
    --destructive-foreground: #fff;
    --border: #0c2c5526;
    --input: transparent;
    --input-background: #fff;
    --switch-background: #629fad;
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --ring: #296374;
    --chart-1: #0c2c55;
    --chart-2: #296374;
    --chart-3: #629fad;
    --chart-4: #e8e2db;
    --chart-5: #0c2c55;
    --radius: .625rem;
    --sidebar: #0c2c55;
    --sidebar-foreground: #e8e2db;
    --sidebar-primary: #296374;
    --sidebar-primary-foreground: #e8e2db;
    --sidebar-accent: #296374;
    --sidebar-accent-foreground: #e8e2db;
    --sidebar-border: #e8e2db33;
    --sidebar-ring: #629fad;
  }

  .dark {
    --background: oklch(.145 0 0);
    --foreground: oklch(.985 0 0);
    --card: oklch(.145 0 0);
    --card-foreground: oklch(.985 0 0);
    --popover: oklch(.145 0 0);
    --popover-foreground: oklch(.985 0 0);
    --primary: oklch(.985 0 0);
    --primary-foreground: oklch(.205 0 0);
    --secondary: oklch(.269 0 0);
    --secondary-foreground: oklch(.985 0 0);
    --muted: oklch(.269 0 0);
    --muted-foreground: oklch(.708 0 0);
    --accent: oklch(.269 0 0);
    --accent-foreground: oklch(.985 0 0);
    --destructive: oklch(.396 .141 25.723);
    --destructive-foreground: oklch(.637 .237 25.331);
    --border: oklch(.269 0 0);
    --input: oklch(.269 0 0);
    --ring: oklch(.439 0 0);
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --chart-1: oklch(.488 .243 264.376);
    --chart-2: oklch(.696 .17 162.48);
    --chart-3: oklch(.769 .188 70.08);
    --chart-4: oklch(.627 .265 303.9);
    --chart-5: oklch(.645 .246 16.439);
    --sidebar: oklch(.205 0 0);
    --sidebar-foreground: oklch(.985 0 0);
    --sidebar-primary: oklch(.488 .243 264.376);
    --sidebar-primary-foreground: oklch(.985 0 0);
    --sidebar-accent: oklch(.269 0 0);
    --sidebar-accent-foreground: oklch(.985 0 0);
    --sidebar-border: oklch(.269 0 0);
    --sidebar-ring: oklch(.439 0 0);
  }
}

html {
  font-size: var(--font-size);
}
